/*公用的内容样式*/
.go {
    position: fixed;
    right: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 10;
}

/*需求：
1. 做上下跳动的动画 不停止
2. 切换过程中隐藏 切换完毕淡入显示
2.1 怎么监听到切换开始  onLeave
2.2 怎么监听到切换结束  afterLoad
*/
.more {
    position: fixed;
    right: 60px;
    bottom: 80px;
    z-index: 10;
    animation: more 0.5s linear infinite alternate;
}

/*注意：
如果是做位移： 之前使用定位来做布局  再使用定位来做动画是可以的  但是如果想回到原始的布局定位 记住之前的定位
如果是做定位： 之前使用定位来做布局  使用translate做动画  去掉转换即可回到原始的布局定位
*/
@keyframes more {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(15px);
    }
}

/*版心容器*/
.container {
    width: 900px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -450px;
    /*位移的百分比是基于本身大小*/
    /*transform: translateX(-50%);*/
}

.container.h100 {
    height: 100%;
}

/*第一屏*/
.section:nth-child(1) {
    background: url("../images/01-bg.png") no-repeat center bottom;
}

.section:nth-child(1) .fly {
    position: absolute;
    right: -30px;
    top: 0;
    animation: firstAnimation 0.6s linear 0.1s infinite alternate;
}

.section:nth-child(1) .sofa {
    position: absolute;
    left: 240px;
    top: 150px;
    animation: firstAnimation 0.6s linear infinite alternate;
}

.section:nth-child(1) .goods {
    position: absolute;
    left: 50%;
    bottom: 120px;
    margin-left: -412px;
}

/*第一屏动画*/
@keyframes firstAnimation {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}

/*第二屏*/
.section:nth-child(2) {
    background: url("../images/02-bg.png") no-repeat center bottom;
}

.section:nth-child(2) .text {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -180px;
}

.section:nth-child(2) .text img:last-child {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.section:nth-child(2) .search {
    position: absolute;
    right: 170px;
    top: 120px;
    transform: scale(0.7);
    /*需要改变转换中心点 为右上角*/
    transform-origin: right top;
    z-index: 1;
    opacity: 0;
}

.section:nth-child(2) .search img:last-child {
    position: absolute;
    left: 100px;
    top: 3px;
    opacity: 0;
}

.section:nth-child(2) .goods {
    position: absolute;
    left: 50%;
    bottom: 210px;
    margin-left: -220px;
    transform: scale(0);
    transform-origin: right bottom;
}

.section:nth-child(2) .sofa {
    position: absolute;
    left: 292px;
    top: 131px;
    transform: scale(0.5);
    opacity: 0;
    z-index: 1;
}

.section:nth-child(2) .sofa.animated {
    opacity: 1;
    animation: sofa-02-03 1s;
}

@keyframes sofa-02-03 {
    from {
    }
    to {
        transform: translate(-80px, 700px);
    }
}

/*文字淡入*/
.section:nth-child(2).now .text img:first-child {
    display: none;
}

.section:nth-child(2).now .text img:last-child {
    transition: all 1s;
    opacity: 1;
}

.section:nth-child(2).now .search {
    opacity: 1;
    animation: search-02 3s linear;
}

.section:nth-child(2).now .search img:last-child {
    opacity: 1;
    transition: all 1s linear 1s;
}

.section:nth-child(2).now .goods {
    /*transform: scale(1);*/
    transform: none;
    transition: all 1s linear 2s;
}

/*搜索框动画 多组动画 需要使用animation*/
@keyframes search-02 {
    from {
        transform: translate(1500px, 132px);
    }
    33.3% {
        transform: translate(-168px, 132px);
    }
    66.7% {
        transform: translate(-168px, 132px);
    }
    to {
        transform: scale(0.7);
    }
}

/*第三屏*/
.section:nth-child(3) {
    background: url("../images/03-bg.png") no-repeat center bottom;
}

.section:nth-child(3) .sofa {
    position: absolute;
    left: 210px;
    top: 180px;
    opacity: 0;
}

.section:nth-child(3) .change {
    width: 296px;
    height: 131px;
    position: absolute;
    right: 115px;
    bottom: 200px;
}

.section:nth-child(3) .change img:last-child {
    display: none;
}

.section:nth-child(3) .cartBtn {
    width: 218px;
    height: 58px;
    position: absolute;
    right: 190px;
    bottom: 120px;
}

.section:nth-child(3) .cartBtn img:last-child {
    display: none;
}

/*动画效果*/
.section:nth-child(3).now .sofa {
    opacity: 1;
}

.section:nth-child(3).now .change img:first-child {
    display: none;
}

.section:nth-child(3).now .change img:last-child {
    display: block;
}

.section:nth-child(3).now .cartBtn img:first-child {
    display: none;
}

.section:nth-child(3).now .cartBtn img:last-child {
    display: block;
}

.section:nth-child(3).now .sofa.animated {
    z-index: 1;
    animation: sofa-03-04 1s linear;
}

@keyframes sofa-03-04 {
    from {
    }
    to {
        transform: translate(180px, 650px) rotate(15deg);
    }
}

/*第四屏*/
.section:nth-child(4) {
    background: url("../images/04-bg.png") no-repeat center bottom;
}

.section:nth-child(4) .cloud {
    position: absolute;
    left: 0;
    top: -40px;
}

.section:nth-child(4) .cart {
    width: 407px;
    height: 346px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -203px;
}

.section:nth-child(4) .cart img:first-child {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.section:nth-child(4) .cart img:last-child {
    position: absolute;
    left: 150px;
    top: -30px;
    opacity: 0;
}

.section:nth-child(4) .text {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 429px;
    height: 31px;
    margin-left: -215px;
}

.section:nth-child(4) .text img:last-child {
    display: none;
}

.section:nth-child(4) .address {
    position: absolute;
    left: 50%;
    top: 160px;
    width: 283px;
    height: 270px;
    margin-left: -142px;
    display: none;
}

.section:nth-child(4) .address img:last-child {
    display: none;
    position: absolute;
    left: 60px;
    top: 60px;
}

/*白云*/
.section:nth-child(4).now .cloud {
    animation: cloud-04 50s linear alternate;
}

.section:nth-child(4).now .cart img:last-child {
    opacity: 1;
}

/*白云飘*/
@keyframes cloud-04 {
    from {
    }
    to {
        transform: translateX(1000px);
    }
}

/*购物车推走*/
/*在做动画的时候动画的快慢肯会随着需求做改变*/
/*通常做一环扣一环的动画  会写延时  这个时候不好维护*/
/*transitionend 监听过渡结束*/
/*animationend 监听动画结束*/
.section:nth-child(4).now .cart {
    /* transition: all 2.5s linear;
     transform: translateX(1500px);*/
    animation: cart-04 2.5s linear forwards;
}

@keyframes cart-04 {
    from {
    }
    to {
        transform: translateX(1500px);
    }
}

/*第五屏*/
.section:nth-child(5) {
    background: url("../images/05-bg.png") no-repeat center bottom;
}
        /*文字*/
.section:nth-child(5) .text {
    position: absolute;
    left: 0;
    bottom: 600px;
}
        /*订单order*/
.section:nth-child(5) .order img:first-child {
    position: absolute;
    left: 220px;
    bottom: 420px;
    transform: translateY(100%);
    transition: all 1s linear 2.5s;
}
.section:nth-child(5).now .order img:first-child {
    transform:none;
}
        /*订单card*/
.section:nth-child(5) .order img:nth-child(2) {
    position: absolute;
    left: 100px;
    bottom: 200px;
    z-index: 2;
}
        /*订单sofa*/
.section:nth-child(5) .order img:last-child {
    position: absolute;
    left: 150px;
    bottom: 90px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-70%);
    transition: all 1s linear 2.5s;
}
.section:nth-child(5).now .order img:last-child {

    animation: sofa-05 2s linear 1s forwards;
}
@keyframes sofa-05 {
    from{
        transform: translateY(-1000px);
        opacity: 1;
    }
    33.33% {
        opacity: 1;
        transform: translateY(-70%);
    }
    to{
        opacity: 1;
        transform:none;
    }
}

.section:nth-child(5) .mouse {
    width: 230px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

        /*手点鼠标mouse01*/
.section:nth-child(5) .mouse img:first-child {
    position: absolute;
    right: 0;
    bottom: 225px;
}
        /*手点鼠标mouse02*/
.section:nth-child(5) .mouse img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 225px;
    transition: opacity 0.5s linear 1s;
    opacity: 0;
}
.section:nth-child(5).now .mouse img:nth-child(2) {
    opacity: 1;
}
        /*手点鼠标hand*/
.section:nth-child(5) .mouse img:last-child {
    position: absolute;
    right: 60px;
    bottom: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.section:nth-child(5).now .mouse img:last-child {
    transform: none;
}


        /*sofa动画*/
.section:nth-child(5).now .order img:last-child.animated {
    z-index: 1;
    animation: sofa-05-06 1s;

}
@keyframes sofa-05-06 {
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translateY(600px) scale(0.2);
    }
}
/*第六屏*/
/*第六屏*/
.section:nth-child(6) {
    background: url("../images/06-bg.png") no-repeat 20% bottom;
}

.section:nth-child(6).now {
    transition: all 2s linear 1.1s;
    /*使用固定像素来移动背景定位  建议使用百分比*/
    background-position-x: 100%;
}

/*白云*/
.section:nth-child(6) .cloud {
    position: absolute;
    left: 0;
    top: 0;
}

.section:nth-child(6) .cloud img:first-child {
    position: absolute;
    left: 0;
    top: -50px;
    animation: cloud-06 80s linear infinite alternate;
}

.section:nth-child(6) .cloud img:last-child {
    position: absolute;
    left: 0;
    top: -30px;
    animation: cloud-06 50s linear infinite alternate;
}

@keyframes cloud-06 {
    from {
    }
    to {
        transform: translateX(1000px);
    }
}

/*包裹*/
.section:nth-child(6) .box {
    position: absolute;
    top: 150px;
    left: 180px;
    z-index: 2;
}

.section:nth-child(6) .box.animated {
    animation: box-06 2.1s linear forwards;
}

@keyframes box-06 {
    from {
        transform: translateX(-1000px);
    }
    33.3% {
        transform: none;
    }
    66.7% {
        transform: none;
    }
    to {
        transform: translateY(320px) scale(0.5);
    }
}

/*车*/
.section:nth-child(6) .car {
    position: absolute;
    left: 120px;
    bottom: 0;
    z-index: 3;
    width: 221px;
    height: 122px;
}

.section:nth-child(6) .car .seller {
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 0;
}

.section:nth-child(6) .car .buyer {
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 0;
}

/*变化地址*/
.section:nth-child(6).now .car .seller {
    transition: all 0.5s linear 1.4s;
    opacity: 1;
}

.section:nth-child(6).now .car .buyer {
    transition: all 0.5s linear 2.4s;
    opacity: 1;
}

/*快递小哥*/
.section:nth-child(6) .car .worker {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: left bottom;
}

/*说话*/
.section:nth-child(6) .car .say {
    position: absolute;
    right: -300px;
    top: -420px;
    opacity: 0;
}

.section:nth-child(6).now .car .say {
    transition: all 0.5s linear 4.6s;
    opacity: 1;
}

/*3.1s 之后快递小哥的动画开始*/
/*过渡也可以做组合动画  但是属性必须不同*/
.section:nth-child(6).now .car .worker {
    transition: transform 0.5s linear 3.1s, bottom 0.5s linear 3.6s, left 0.5s linear 4.1s;
    transform: none;
    bottom: 100px;
    left: 240px;
}

/*文字*/
.section:nth-child(6) .text {
    position: absolute;
    left: 120px;
    top: 100px;
}

.section:nth-child(6).now .text img:first-child {
    opacity: 0;
    transition: all 0.5s linear 4.6s;
}

.section:nth-child(6) .text img:last-child {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.section:nth-child(6).now .text img:last-child {
    transition: all 0.5s linear 4.6s;
    opacity: 1;
}

/*门*/
.section:nth-child(6) .door {
    position: absolute;
    right: 284px;
    bottom: 116px;
    opacity: 0;

    width: 106px;
    height: 150px;
}

.section:nth-child(6).now .door {
    opacity: 1;
    transition: all 0.5s linear 5.1s;
}

        /*美女*/
.section:nth-child(6) .door img:last-child {
    position: absolute;
    right: 0;
    bottom: -10px;
    transform: scale(0);
    transform-origin: right bottom;
}

.section:nth-child(6).now .door img:last-child {
    transition: transform 0.5s linear 5.6s, right 0.5s linear 6.1s;
    transform: none;
    right: 200px;
}

/*第七屏*/
.section:nth-child(7) {
    background: url("../images/07-bg.png") center bottom;
}
.section:nth-child(7) .star {
    position: absolute;
    left: 159px;
    top: 138px;

}

.section:nth-child(7) .star img {
    margin-right: 1px;
    display: none;
}

.section:nth-child(7) .text {
    position: absolute;
    left: 160px;
    top: 190px;
    opacity: 0;
    transform-origin: left bottom;
    animation: text-07 2s linear 6s forwards;
}

@keyframes text-07 {
    from{}
    50%{
        opacity: 1;
        transform: scale(1.3);
    }
    to{
        transform: none;
        opacity: 1;
    }
}

/*第八屏*/
.section:nth-child(8) {
    background: url("../images/08-bg.png");
}

.section:nth-child(8) .btn img:first-child {
    position: absolute;
    left: 50%;
    margin-left: -195px;
}
.section:nth-child(8) .btn img:last-child {
    position: absolute;
    left: 50%;
    margin-left: -195px;
    opacity: 0;
}
.section:nth-child(8) .btn img:last-child:hover {
    opacity: 1;
}
.section:nth-child(8) .hand {
    position: absolute;
    bottom: -80px;
    left: 50%;
    margin-left: -85px;
    z-index: 3;
}

.section:nth-child(8) .again {
    position: absolute;
    right: -20px;
    top: 85px;
}